In [ ]:
name = input("Enter your Name: ")
print("Greetings !", name)

In [ ]:
import keyword
keyword.kwlist

## variables

In [3]:
b = 'some'
b.center()

TypeError: center expected at least 1 argument, got 0

In [16]:
a='dip'
type(a)
p=a + 't' + 'a'
p * 3
a.replace('i','e') + 't'

'dept'

In [23]:
age = 24 + 56
type(age)

int

In [15]:
n= '2'
print(type(n))
newn = int(n)
type(newn)
fn = float(newn)
fn
bn = bool(fn)
print (bn)
bool (' ')

c= complex(2)
str(c)

<class 'str'>
True

'(2+0j)'

In [10]:
name = input("Enter your Name:")
age = int(input("Enter Your age:"))
weight = float(input("Enter your weight:"))
print(name ,"YOUR ACOOUNT CREATED SUCCESSFULLY!")
type(age), type(weight)

shudipta  YOUR ACOOUNT CREATED SUCCESSFULLY!

(int, float)

In [23]:
print("%s YOUR ACOOUNT % .2f CREATED SUCCESSFULLY! %d " %(name,age,weight))
print(f"{name} YOUR ACOOUNT {age} CREATED SUCCESSFULLY! {weight} ")

shudipta  YOUR ACOOUNT  25.00 CREATED SUCCESSFULLY! 35
shudipta  YOUR ACOOUNT 25 CREATED SUCCESSFULLY! 35.5

In [19]:
print('"book" - austin')

"book" - austin

In [8]:
print("'Book' -\n Austin", end = '\t hhhhh ')
print('\t welcome')

'Book' -
 Austin	 hhhhh 	 welcome

In [18]:
int(6 // 4)

1

## Operator

In [23]:
2 != 2
2 != 5
2 <= 5

False

In [34]:
True and True
False and False
True and False

False

In [37]:
not False
not True

False

In [ ]:
# Bitwise Operator

In [1]:
5 & 2

0

In [2]:
5 | 2

7

In [1]:
3 | 5

7

In [2]:
3 & 5

1

In [3]:
# 8 4 2 1
# 0 0 1 1
# 0 1 0 1
~5

-6

In [ ]:
# assienment oparetor

In [12]:
num = 5
num += 2
num -= 3
num *= 4
num **= 2


num = 5
num //=4
num

1

In [1]:
5 and 2

0

In [3]:
num1 = int(input("Enter your 1st number :"))
num2 = int(input("Enter your 2nd number :"))
addition = num1 + num2
substraction = num1 - num2
multipy = num1 * num2
divison = num1 / num2
square = num1 ** num2
modelus = num1 % num2
print(addition)
print(substraction)
print(multipy)
print(divison)

10
2
24
1.5

In [2]:
True or False

True

In [1]:
5 |5

5

In [3]:
5 or 2

5

In [2]:
c = [4,5,6,9,9,6,96,9,6,85,2,'student',True]
c[12]

True

In [11]:
len(c)
c [0:5]
c[:13]
c[::4]

[4, 9, 6, True]

In [15]:
p = [2,3,4,5,6,7,8,9]
p[:]
p[::4]
p[::-1]

[9, 8, 7, 6, 5, 4, 3, 2]

In [13]:
'python'[4]

'o'

In [23]:
p[3]='s'
p
p.append(56)
p

[2, 3, 4, 's', 6, 7, 8, 9, 45, 45, 45, 56]

In [45]:
m = [2,3,4,5,6,6,7,8,9,10]
m.append(65)
m.insert(3,85)
#m.extend(p)
m = m + [5]
m.remove(8)
#m.pop(-3)
m.index(65)
m.count(5)
m.sort(reverse=False)
m.pop(-3)
m

[2, 3, 4, 5, 5, 6, 7, 9, 65, 85]

In [48]:
k = (1,5,5,4,8,7,98)
n = tuple(k)
n

(1, 5, 5, 4, 8, 7, 98)

In [60]:
num = (2,3,4,5,6,6,7,7,8,9)
num[:]

(2, 3, 4, 5, 6, 6, 7, 7, 8, 9)

In [77]:
s = {2,3,4,5,6,6,7,7,8,9}
s.add(45)
s2 = {1,5,6}
s2.difference(s)
s2.union(s)
s.intersection(s2)
s2.pop()
s2.update({2,3,4})
s.difference_update(s2)
s.symmetric_difference(s2)
{1,2,3,4}.issuperset({3,4,})

True

In [103]:
#dictationary
d = {1:'student1', 2:'student2',"AvgAge":25}
type(d)
d.keys(),d.values(),d.items()
d[2]
d[1]= 'girl'
#print(d.get("AvgAges"))
d.pop(1)
d
#add
d[3]='student3'
d
d.update({4:[1,2,3]})
d.popitem()
d.setdefault(5,'student5')
d1 = d.fromkeys([11,12,13])
d1

{11: None, 12: None, 13: None}